Repository pulse-krsk/pulse-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, git add ., npm run stylelint:fix, npm run format

feat:add eventCard
  .storybook/preview.ts
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/lib/getRouter.tsx
  src/app/providers/theme.tsx
  src/entities/event/types/event.ts
  src/entities/event/types/index.ts
  src/entities/event/ui/eventCard/eventCard.props.ts
  src/entities/event/ui/eventCard/eventCard.stories.tsx
  src/entities/event/ui/eventCard/eventCard.tsx
  src/entities/event/ui/eventCard/index.ts
  src/shared/styles/overrides.scss
  src/shared/ui/index.ts
  src/shared/ui/itemsNotFound/index.ts
  src/shared/ui/itemsNotFound/itemsNotFound.module.scss
  src/shared/ui/itemsNotFound/itemsNotFound.props.ts
  src/shared/ui/itemsNotFound/itemsNotFound.stories.tsx
  src/shared/ui/itemsNotFound/itemsNotFound.tsx
Due: npm run lint:fix, git add ., npm run stylelint:fix, npm run format

feat:add Header
  package-lock.json
  package.json
  src/shared/assets/Logo.svg
  src/shared/assets/index.ts
  src/widgets/Header/Header.module.scss
  src/widgets/Header/Header.stories.tsx
  src/widgets/Header/Header.tsx
  src/widgets/Header/index.ts
  tsconfig.app.json
  vite.config.ts
Due: npm run lint:fix, git add ., npm run stylelint:fix, npm run format

feat: add auth ui
  src/app/App.tsx
  src/app/lib/getRouter.tsx
  src/app/providers/index.ts
  src/entities/.gitkeep
  src/entities/auth/hooks/useOauthLogin.ts
  src/entities/auth/hooks/useYaOauthHelpCode.ts
  src/entities/auth/model/initialState.ts
  src/entities/auth/model/slice.ts
  src/entities/auth/types/request.ts
  src/entities/auth/types/state.ts
  src/entities/auth/ui/index.ts
  src/entities/auth/ui/yaAuthLink/index.ts
  src/entities/auth/ui/yaAuthLink/yaAuthLink.constants.ts
  src/entities/auth/ui/yaAuthLink/yaAuthLink.stories.tsx
  src/entities/auth/ui/yaAuthLink/yaAuthLink.tsx
  src/pages/.gitkeep
  src/pages/auth/index.ts
  src/pages/auth/layout/layout.module.scss
  src/pages/auth/layout/layout.tsx
  src/pages/auth/login/loginPage.tsx
  src/pages/auth/yaOauthHelp/yaOauthHelpPage.tsx
  src/vite-env.d.ts
  src/widgets/.gitkeep
  src/widgets/authPanel/authPanel.stories.tsx
  src/widgets/authPanel/authPanel.tsx
  src/widgets/authPanel/index.ts
Due: npm run lint:fix, git add ., npm run stylelint:fix

feat:add Onboarding HomePage
  .storybook/main.ts
  public/images/onboarding_building.png
  src/app/lib/getRouter.tsx
  src/pages/home/homePage.tsx
  src/pages/home/index.ts
  src/pages/home/layout/index.ts
  src/pages/home/layout/layout.tsx
  src/widgets/Header/Header.tsx
  src/widgets/Onboarding/Onboarding.stories.tsx
  src/widgets/Onboarding/Onboarding.tsx
  src/widgets/Onboarding/index.ts
Due: npm run lint:fix, git add .

feat:add About Footer
  package-lock.json
  src/app/lib/getRouter.tsx
  src/app/providers/theme.tsx
  src/pages/home/homePage.tsx
  src/pages/home/layout/layout.tsx
  src/widgets/Onboarding/Onboarding.tsx
  src/widgets/about/about.module.scss
  src/widgets/about/about.tsx
  src/widgets/about/index.ts
  src/widgets/footer/footer.module.scss
  src/widgets/footer/footer.tsx
  src/widgets/footer/index.ts
Due: npm run lint:fix, git add ., npm run stylelint:fix, npm run format

feat(event): add card
  package-lock.json
  package.json
  src/entities/event/api/api.ts
  src/entities/event/api/constants.ts
  src/entities/event/api/index.ts
  src/entities/event/types/event.ts
  src/entities/event/types/index.ts
  src/entities/event/types/params.ts
  src/entities/event/types/request.ts
  src/entities/event/types/response.ts
  src/entities/event/ui/eventCard/eventCard.module.scss
  src/entities/event/ui/eventCard/eventCard.props.ts
  src/entities/event/ui/eventCard/eventCard.stories.tsx
  src/entities/event/ui/eventCard/eventCard.tsx
  src/shared/api/baseQuery.ts
  src/shared/api/constants.ts
  src/shared/lib/formatDateToDayMonth.ts
  src/shared/lib/index.ts
Due: npm run lint:fix, git add ., npm run stylelint:fix, npm run format

feat: add link to YForm
  src/widgets/Header/Header.tsx
Due: npm run lint:fix, git add .

feat(event): add events panel
  .storybook/preview.ts
  db.json
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/lib/getRouter.tsx
  src/app/model/store.ts
  src/entities/event/api/api.ts
  src/entities/event/api/constants.ts
  src/entities/event/api/index.ts
  src/entities/event/constants/index.ts
  src/entities/event/constants/params.ts
  src/entities/event/hooks/index.ts
  src/entities/event/hooks/useEventParams.ts
  src/entities/event/hooks/useEventsSearchParams.ts
  src/entities/event/types/index.ts
  src/entities/event/types/params.ts
  src/entities/event/types/response.ts
  src/entities/event/ui/index.ts
  src/features/events/index.ts
  src/features/events/ui/eventFilters/eventFilters.tsx
  src/features/events/ui/eventFilters/index.ts
  src/features/events/ui/eventList/eventList.tsx
  src/features/events/ui/eventList/index.ts
  src/features/events/ui/eventSearch/eventSearch.tsx
  src/features/events/ui/eventSearch/index.ts
  src/features/events/ui/index.ts
  src/pages/events/events.tsx
  src/pages/events/index.ts
  src/shared/api/baseQuery.ts
  src/shared/lib/deleteAllEmptyFields.ts
  src/shared/lib/index.ts
  src/shared/lib/isInteger.ts
  src/widgets/eventsPanel/eventsPanel.tsx
  src/widgets/eventsPanel/index.ts
Due: npm run lint:fix, git add ., npm run format

feat: add fix anything
  public/fonts/Gilroy-Medium.woff
  public/fonts/Gilroy-Medium.woff2
  public/fonts/Gilroy-Semibold.woff
  public/fonts/Gilroy-Semibold.woff2
  public/fonts/SoyuzGroteskBold.woff
  public/images/email_image.png
  src/entities/event/ui/eventCard/eventCard.tsx
  src/entities/review/types/index.ts
  src/entities/review/types/review.ts
  src/entities/review/ui/reviewCard/index.ts
  src/entities/review/ui/reviewCard/reviewCard.props.ts
  src/entities/review/ui/reviewCard/reviewCard.stories.tsx
  src/entities/review/ui/reviewCard/reviewCard.tsx
  src/entities/user/types/user.ts
  src/pages/home/homePage.tsx
  src/shared/assets/Logo.svg
  src/shared/styles/_fonts.scss
  src/shared/styles/index.scss
  src/widgets/about/about.module.scss
  src/widgets/about/about.tsx
  src/widgets/colobaration/colobaration.tsx
  src/widgets/colobaration/coloboration.module.scss
  src/widgets/colobaration/index.ts
  src/widgets/footer/footer.tsx
  src/widgets/reviewSection/index.ts
  src/widgets/reviewSection/reviewSection.tsx
  src/widgets/upcomingEvents/index.ts
  src/widgets/upcomingEvents/upcomingEvents.tsx
Due: npm run lint:fix, git add ., npm run stylelint:fix

feat: add reviewSection
  src/widgets/Header/Header.tsx
  src/widgets/reviewSection/reviewSection.tsx
Due: npm run lint:fix, git add .

feat(event): edit list
  db.json
  package.json
  src/app/lib/getRouter.tsx
  src/features/events/ui/eventList/eventList.tsx
  src/features/events/ui/eventSearch/eventSearch.tsx
  src/shared/api/constants.ts
  src/widgets/eventsPanel/eventsPanel.tsx
Due: npm run lint:fix, git add ., npm run format

feat: add eventAbout
  src/entities/event/types/address.ts
  src/entities/event/types/event.ts
  src/entities/event/types/index.ts
  src/entities/event/types/place.ts
  src/entities/event/ui/eventCard/eventCard.stories.tsx
  src/pages/home/homePage.tsx
  src/widgets/eventAbout/eventAbout.tsx
  src/widgets/eventAbout/eventAboutProps.ts
  src/widgets/eventAbout/index.ts
Due: npm run lint:fix, git add .

feat: add user api
  src/app/model/store.ts
  src/entities/user/api/api.ts
  src/entities/user/api/constants.ts
  src/entities/user/api/index.ts
  src/entities/user/types/index.ts
  src/entities/user/types/request.ts
  src/entities/user/types/response.ts
Due: npm run lint:fix, git add .

feat: add review api
  src/entities/event/api/api.ts
  src/entities/event/api/constants.ts
  src/entities/event/api/index.ts
  src/entities/event/types/request.ts
  src/entities/event/types/response.ts
  src/entities/review/api/api.ts
  src/entities/review/api/constants.ts
  src/entities/review/api/index.ts
  src/entities/review/types/index.ts
  src/entities/review/types/request.ts
  src/entities/review/types/response.ts
  src/entities/review/types/review.ts
  src/entities/user/api/api.ts
  src/entities/user/api/constants.ts
  src/entities/user/types/index.ts
  src/entities/user/types/request.ts
Due: npm run lint:fix, git add .

feat: add reviewModal
  src/features/reviews/index.ts
  src/features/reviews/ui/index.ts
  src/features/reviews/ui/reviewModal/index.ts
  src/features/reviews/ui/reviewModal/reviewModal.props.ts
  src/features/reviews/ui/reviewModal/reviewModal.tsx
  src/pages/home/homePage.tsx
  src/widgets/reviewSection/reviewSection.tsx
Due: npm run lint:fix, git add .

feat: add react-hooks-form to reviewModal
  src/features/reviews/ui/reviewModal/reviewModal.tsx
Due: npm run lint:fix, git add .

feat: add api to ui
  src/app/model/store.ts
  src/entities/event/api/api.ts
  src/entities/user/types/index.ts
  src/entities/user/types/request.ts
  src/pages/event/event.tsx
  src/pages/event/index.ts
  src/shared/api/constants.ts
  src/widgets/eventAbout/eventAbout.tsx
  src/widgets/reviewSection/reviewSection.tsx
  src/widgets/upcomingEvents/upcomingEvents.tsx
Due: npm run lint:fix, git add .

feat: add userProfile
  src/app/lib/getRouter.tsx
  src/app/providers/router.tsx
  src/features/user/index.ts
  src/features/user/ui/index.ts
  src/features/user/ui/userCategories/index.ts
  src/features/user/ui/userCategories/userCategories.module.scss
  src/features/user/ui/userCategories/userCategories.tsx
  src/features/user/ui/userInfo/index.ts
  src/features/user/ui/userInfo/userInfo.module.scss
  src/features/user/ui/userInfo/userInfo.tsx
  src/pages/home/homePage.tsx
  src/pages/profile/index.ts
  src/pages/profile/profilePage.tsx
Due: npm run lint:fix, git add ., npm run stylelint:fix

feat: add event map
  package-lock.json
  package.json
  src/entities/auth/hooks/useOauthLogin.ts
  src/entities/auth/hooks/useYaOauthHelpCode.ts
  src/main.tsx
  src/pages/event/event.tsx
  src/pages/home/homePage.tsx
  src/shared/api/baseQuery.ts
  src/widgets/Header/Header.tsx
  src/widgets/eventMap/eventMap.tsx
  src/widgets/eventMap/index.ts
  vite.config.ts
Due: npm run lint:fix, git add ., npm run format

feat: add adminEventsPanel adminAddModal bugged(adminEditModal)
  src/app/providers/router.tsx
  src/widgets/adminEventsPanel/adminAddModal/adminAddModal.props.ts
  src/widgets/adminEventsPanel/adminAddModal/adminAddModal.tsx
  src/widgets/adminEventsPanel/adminAddModal/index.ts
  src/widgets/adminEventsPanel/adminEditModal/adminEditModal.props.ts
  src/widgets/adminEventsPanel/adminEditModal/adminEditModal.tsx
  src/widgets/adminEventsPanel/adminEditModal/index.ts
  src/widgets/adminEventsPanel/adminEventsPanel.tsx
  src/widgets/adminEventsPanel/index.ts
Due: npm run lint:fix, git add .

fix bugs, correct to stable version
  .env.development.local
  .gitignore
  src/app/providers/router.tsx
  src/entities/event/types/event.ts
  src/entities/event/ui/eventCard/eventCard.stories.tsx
  src/entities/event/ui/eventCard/eventCard.tsx
  src/features/events/ui/eventList/eventList.tsx
  src/features/user/ui/userInfo/userInfo.tsx
  src/shared/api/baseQuery.ts
  src/shared/lib/formatDateToDayMonth.ts
Due: npm run lint:fix, git add .

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  git add .: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{scss,css})) or (any of: *.{json,html})
  npm run stylelint:fix: any of: *.{scss,css}
  npm run format: any of: *.{json,html}
